body{
    margin:0;
    font-family:Times new Roman;
    background:lightblue;
}

header{
    background:rgb(5, 3, 0);
    color:white;
    text-align:center;
    padding:25px;
}
nav{
    background:rgb(3, 213, 250);
    text-align:center;
    padding:10px;
}

nav a{
    color:rgb(29, 25, 25);
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}
footer{
    background:#2c3e50;
    color:white;
    text-align:center;
    padding:15px;
}
.container{
    width:90%;
    margin:auto;
    padding:20px;
}

section{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:0 0 5px gray;
}

h2{
    color:black;
}

table{
    width:100%;
    border-collapse:collapse;
}

table, th, td{
    border:1px solid black;
}

th, td{
    padding:10px;
    text-align:left;
}

ul{
    line-height:1.8;
}
